
html {
  font-size: 15px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
  margin: 0;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background: rgb(44, 188,227);
}

/* Top Navigation */

/*Top Navigation Background Colors*/
.topnav {
  overflow: hidden;
}

/* Top Navigation style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Top Navigation change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(247, 42, 39);
  color: white;
}

/** Style homepage title **/
.homepagetitle {
  position: relative;
  left: 0;
  top: 20%;
  width: 100%;
  text-align: center;
  color: #000;
}

.homepagetitle span.HPborder {
  background-color: rgb(247, 42, 39);
  color: #fff;
  padding: .5vw;
  font-size: 4em;
  letter-spacing: .1em;
  border-radius: 1vw;
}

#NFTCoin {
  position: absolute;
  top: -1.5vw;
  right: 8vw; 
  max-width: 25%;
  image-rendering: pixelated;
}

/** Style homepage links **/
.infoboxcontainer {
  display: flex;
  position: relative;
  top: 25%;
  text-align: center;
  justify-content: center;
  align-content: baseline;
  align-items: center;
}

.infobox {
  width: 25vw;
  background-color: #fff;
  margin-left: 1vw;
  margin-right: 1vw;
  padding: 1em;
  align-content: baseline;
  border-radius: 1vw;
}

.infobox:hover{
  transform: scale(1.01);
  box-shadow: 0.3em .3em 1.5em ;
}

.infoboxquestion, .infoboxlink {
  color: rgb(247, 42, 39);
  font-size: 1.5em;
}

/** Style For Beginner content **/
.FAQ {
  text-align: center;
}

.FAQAns {
  margin-left: 20vw;
  margin-right: 20vw;
}

/** for-beginners bottom image **/
#tokenimage {
  display: block;
  margin: auto;
  border-radius: 5%;
  max-width: 25%;
  height: auto;
}

.beginnerpagetitle {
  text-align: center;
  margin-bottom: 2vw;
}